<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221631103805-hrbt76l4krt0l8jrfjoecf0g974375jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221631103805-hrbt76l4krt0l8jrfjoecf0g974375jp</string>
	<key>API_KEY</key>
	<string>AIzaSyDSXTYoPDxAVyYg8MzJ1mAR6ak7wsQkwxo</string>
	<key>GCM_SENDER_ID</key>
	<string>221631103805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpapp.ConnectingFireBase</string>
	<key>PROJECT_ID</key>
	<string>sandboxproject-5fd1f</string>
	<key>STORAGE_BUCKET</key>
	<string>sandboxproject-5fd1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221631103805:ios:c132c1ce2d0be7a4</string>
	<key>DATABASE_URL</key>
	<string>https://sandboxproject-5fd1f.firebaseio.com</string>
</dict>
</plist>